<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
        a {
            display: block;
        }
    </style>
</head>
<body>
<a href="/ajax-ex-01">01_get 요청하기</a>
<a href="/ajax-ex-02">02_post 요청하기</a>
<a href="/ajax-ex-03">03_get 요청 & parameter 전달하기</a>
<a href="/ajax-ex-04">04_post 요청 & parameter 전달하기</a>
<a href="/ajax-ex-05">05_get 요청 & parameter DTO로 받기(@ModelAttribute) & DTO 객체 리턴 하기</a>
<a href="/ajax-ex-06">06_post 요청 & parameter DTO로 받기(@ModelAttribute) & DTO 객체 리턴 하기</a>
<a href="/ajax-ex-07">07_post 요청 & parameter DTO로 받기(@RequestBody) & DTO 객체 리턴 하기</a>
<a href="/ajax-ex-08">08_post 요청 & parameter 전달하기 & List 객체 리턴 하기</a>
<a href="/ajax-ex-09">09_post 요청 & parameter 전달하기 & ResponseEntity에 DTO 객체 리턴 하기</a>
<a href="/ajax-ex-10">10_post 요청 & parameter 전달하기 & ResponseEntity에 List 객체 리턴 하기</a>

</body>
</html>